<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Series</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container" layout:fragment="conteudo">
    <h1>Cadastro de Series</h1>
    <div th:if="${not #strings.isEmpty(msg)}" class="alert alert-success">
        <span th:text="${msg}"></span>
    </div>
    <form th:action="@{/serie/cadastrar}" method="post" th:object="${serie}">
        <div class="mb-3">
            <label class="form-label">NOME</label>
            <input type="text" th:field="*{nome}" class="form-control" required>
            <p th:if="${#fields.hasErrors('nome')}" class="text text-danger"
               th:errors="*{nome}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">GENERO</label>
            <input type="text" th:field="*{genero}" class="form-control" required>
            <p th:if="${#fields.hasErrors('genero')}" class="text text-danger"
               th:errors="*{genero}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">ANO DE LANÇAMENTO</label>
            <input type="text" th:field="*{anoLancamento}" class="form-control" required>
            <p th:if="${#fields.hasErrors('anoLancamento')}" class="text text-danger"
               th:errors="*{anoLancamento}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">QUANTIDADE DE TEMPORADAS</label>
            <input type="text" th:field="*{quantidadeTemporadas}" class="form-control" required>
            <p th:if="${#fields.hasErrors('quantidadeTemporadas')}" class="text text-danger"
               th:errors="*{quantidadeTemporadas}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">CLASSIFICACAO INDICATIVA</label>
            <input type="text" th:field="*{classificacaoIndicativa}" class="form-control" required>
            <p th:if="${#fields.hasErrors('classificacaoIndicativa')}" class="text text-danger"
               th:errors="*{classificacaoIndicativa}"></p>
        </div>
        <button class="btn btn-success">Cadastrar</button>
    </form>
</div>
</body>
</html>